
	<h4><%= @feedback.nama %></h4>
	<h5><%= @feedback.email %></h5>
	<p align=justify><%= @feedback.saran %></p>
	<div class = "dateline">
	<%= Time.now.strftime("%B %d, %Y at %I:%M %p") %><br>
	
	</div>
	
	